UITers-Helper/nbproject/build-impl.xml merge=ours
UITers-Helper/nbproject/genfiles.properties merge=ours
UITers-Helper/nbproject/project.properties merge=ours
UITers-Helper/nbproject/project.xml merge=ours
