.button{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 10;
    -fx-font-size: 14;
    -fx-font-family: "Segoe UI";  
    -fx-font-color: white;
    -fx-text-fill: white;
    
}

.button:focused{
    -fx-background-color:  #18A0FB;
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 10;
    -fx-font-size: 14;
    -fx-font-family: "Segoe UI";  
    -fx-font-color: white;
    -fx-text-fill: white;
    
}