.button{
    -fx-background-image: url("../images/up.png");
    -fx-background-size: 12px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position:  10% 50%;
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 0 0 0 0;
    -fx-border-radius: 10;
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI";  
    -fx-font-color: white;
    -fx-text-fill: white;
    
}

.button:hover{
    -fx-background-image: url("../images/up.png");
    -fx-background-size: 12px 12px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: 10% 50%;
    -fx-background-color: transparent;
    -fx-border-color: #18A0FB;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 10;
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI";  
    -fx-font-color: white;
    -fx-text-fill: white;
    
}