.button{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 10;
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI";  
    -fx-font-color: white;
    -fx-text-fill: white;
    
}

.button:hover{
    -fx-background-color: transparent;
    -fx-border-color: #18A0FB;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 10;
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI";  
    -fx-font-color: white;
    -fx-text-fill: white;
    
}