.button{
    -fx-background-color: transparent;
    -fx-border-color: white;
    -fx-border-width: 1 1 1 1;
    -fx-border-radius: 5;
    -fx-font-size: 16;
    -fx-font-family: "Segoe UI";  
    -fx-font-color: white;
    -fx-text-fill: white;
    
}

.button:hover{
    -fx-background-color: #18A0FB;
    -fx-border-color: #18A0FB;
    -fx-font-size: 16;
    -fx-font-family: "Segoe UI";  
    -fx-font-color: white;
    -fx-text-fill: white;
    
}