/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 22, 2019, 5:02:17 PM
    Author     : Admin
*/
.chip-view{
    -fx-border-width: 1 1 1 1;
    -fx-border-color: white;
    -fx-border-radius: 10;
    -fx-caret-color: red;
    -fx-font-color: white;
}

