.combo-box .list-cell:selected {
    
    -fx-font-size: 12;
    -fx-font-family: "Segoe UI";  
    
    -fx-background-color: transparent;
    -fx-text-fill: white;
}
.combo-box .list-cell 
{
    -fx-background: white;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;

}
.combo-box-popup .list-view{
    
    -fx-background-color: transparent;  
    
}
.combo-box-popup .list-view .list-cell:hover {
    -fx-background-color: transparent;  
    
    -fx-text-fill: white;
    -fx-border-color: #18A0FB;
    -fx-border-width: 0 0 0 2;
    
}

.combo-box-popup .list-view .list-cell{
    -fx-background-color: transparent;  
    
    -fx-text-fill: white;
    -fx-border-width: 2 2 2 2;
    
}
.combo-box{
    -fx-prompt-text-fill: white;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 0 0;
   
}


