.label{
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI";  
    -fx-text-fill: white;
    -fx-text-align: CENTER CENTER;
}
.label:hover{
    -fx-font-size: 18;
    -fx-border-color: #18A0FB;
    -fx-border-width: 2 2 2 2;
    -fx-font-family: "Segoe UI";  
    -fx-text-fill: white;
    -fx-text-align: CENTER CENTER;
}


