.hyperlink {
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI";  
    -fx-text-fill: black;
}
.hyperlink:hover {
    -fx-font-size: 18;
    -fx-font-family: "Segoe UI";  
    -fx-text-fill: #18A0FB;
    -fx-underline: true;
    
}