.jfx-slider > .track {
     -fx-background-color: white;
}

/* Styling the slider thumb */
.jfx-slider > .thumb {
     -fx-background-color: #18A0FB;
}

/* Styling the filled track */
.jfx-slider > .colored-track {
     -fx-background-color: #18A0FB;
}

/* Styling the animated thumb */
.jfx-slider > .animated-thumb {
     -fx-background-color: #18A0FB;
}

/* Styling the slider value text inside animated thumb */
.jfx-slider .slider-value {
     -fx-fill: white;
     -fx-stroke: white;
}