/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 31, 2019, 2:26:10 PM
    Author     : Admin
*/

.label{
    -fx-font-size: 13;
    -fx-font-family: "Segoe UI";  
    -fx-text-fill: red;
    -fx-font-color: red;
    -fx-text-align: LEFT;
}